<div class="row">
    <h1> Hard and Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
        <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../../../assets/2.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [showUnits]="true"
                [showTitle]="true"
                [showSubtitle]="true"
                [subtitle]="'Amsiedad'"
                [title]="'Amsiedad'"
                [titleColor]="'black'"
                [titleFontSize]="'15px'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
        <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../../../assets/2.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [showUnits]="true"
                [showTitle]="true"
                [showSubtitle]="true"
                [subtitle]="'Amsiedad'"
                [title]="'Amsiedad'"
                [titleColor]="'black'"
                [titleFontSize]="'15px'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
        <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../../../assets/2.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [showUnits]="true"
                [showTitle]="true"
                [showSubtitle]="true"
                [subtitle]="'Amsiedad'"
                [title]="'Amsiedad'"
                [titleColor]="'black'"
                [titleFontSize]="'15px'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
        <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../../../assets/2.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [showUnits]="true"
                [showTitle]="true"
                [showSubtitle]="true"
                [subtitle]="'Amsiedad'"
                [title]="'Amsiedad'"
                [titleColor]="'black'"
                [titleFontSize]="'15px'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
        <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../../../assets/2.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [showUnits]="true"
                [showTitle]="true"
                [showSubtitle]="true"
                [subtitle]="'Amsiedad'"
                [title]="'Amsiedad'"
                [titleColor]="'black'"
                [titleFontSize]="'15px'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 offset-md-1 offset-lg-1">
        <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../../../assets/2.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [showUnits]="false"
                [showTitle]="true"
                [showSubtitle]="true"
                [subtitle]="'Amsiedad'"
                [title]="'Amsiedad'"
                [titleColor]="'black'"
                [titleFontSize]="'15px'"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="500">
            </circle-progress>
    </div>
</div>
