<div class="row">
    <h1> Proyectos Realizados</h1>
    <div class="Contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parteA">
            <h3> Proyecto 1 </h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores officia commodi ex esse odit quos officiis adipisci quibusdam quaerat aliquid sint accusantium, ratione nobis. Exercitationem pariatur beatae fugiat ducimus corporis.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parteB ">
            <img src="../../../assets/índice.jpg" class="img-fluid img-proyecto ">
        </div>
    </div>
</div>