<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/Logo_Argentina_Programa.png" id="Logo_Argentina_Programa">
        </div>
        <div class="redes">
                <a href=""><img src="../../../assets/Logo_Github.png" id="GitHub"></a>
                <a href=""><img src="../../../assets/Logo_Linkedin.png" id="Linkedin"></a>
                <a href=""><img src="../../../assets/Logo_Facebook.png" id="Facebook"></a>
                <a href=""><img src="../../../assets/Logo_Instagram.png" id="Instagram"></a>
                <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>

</div>

