.row{
    padding: 10px;
}

div{
    background-color:   rgb(79, 218, 223);
    text-align: left;
}

/*Etiqueta Nombre*/
#nombre{
    font-weight: bold ;
    margin-top: 5%;    
}

/*Estilo Imagen Perfil*/
@media (min-width: 576px){
    #ImagenPerfil{
        position: absolute;
        width: 20%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px  green;
        left: 1%;
        top: 200px;
    }
    @media (max-width: 575px){
        #ImagenPerfil{
            position: absolute;
            width: 200%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px  green;
            left: 100%;
            top: 800px;
        }
}
}